<form action="/signup" method="POST">

<h1>create user here.</h1>

<label><h3>Username:</h3></label>
  <input type="text" id="username" name="username">
  <br><br>

<label><h3>Email:</h3></label>
  <input type="text" id="email" name="email">
  <br><br>

<label><h3>Password:</h3></label>
  <input type="password" id="password" name="password">
  <br><br>

<input type="submit" value="Create New User">

</form>