<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/signup" method="POST">

<p>create user here.</p>

<label><p>Username:</p></label>
  <input type="text" id="username" name="username">
  <br>

<label><p>Email:</p></label>
  <input type="text" id="email" name="email">
  <br>

<label><p>Password:</p></label>
  <input type="password" id="password" name="password">
  <br>

<input type="submit" value="Create New User">

</form>