<form action="/login" method="POST">

<p>log in to your account here.</p>

<label><p>Username:</p></label>
  <input type="text" id="username" name="username">
  <br>

<label><p>Password:</p></label>
  <input type="password" id="password" name="password">
  <br>

<input type="submit" value="submit">

</form>