<p>Accounts</p>
<li><a href='/login'>Sign In</a></li>
<li><a href='/signup'>Sign Up</a></li>
<br>

<p>Browse listings</p>
<li><a href='/apartments'>Apartments</a></li>
<li><a href='/for_sale'>For Sale</a></li>
<li><a href='/wanted'>Wanted</a></li>