<html>
  <head>
    <title>Mikeslist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>

  <h1>MIKESLIST</h1>
  
  <br>

  <%= yield %>

  </body>

</html>