<html>
  <head>
    <title>Fake Craigslist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>

  <h1><a href='/'>FAKE CRAIGSLIST</a></h1>

  <%if logged_in%>
    <h5>hello, <%=logged_in_user%>.</h5>
  <%else%>
    <h5><a href='/login'>log in.</a></h5>
  <%end%>

  <br>

  <%= yield %>

  </body>

</html>