<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/wanted" method="POST">

  <h4>Describe what you're looking for below...</h4>
  <br>

  <label><p>Title of Post:</p></label>
  <input type="text" id="wanted_headline" name="wanted[headline]">
  <br>

  <label><p>Description:</p></label>
  <input type="integer" id="wanted_content" name="wanted[content]">
  <br>

  <input type="submit" value="create your wanted ad.">

</form>