<h1>edit your listing here.</h1>

<form action="/wanted/<%= @wanted.id %>" method="POST"> 
  <input type="hidden" name="_method" value="PATCH">

  <label for="headline">Title of Post:</label><br>
  <input type="text" name="headline" id="headline" value="<%= @wanted.headline %>">

  <br><br>

  <label for="content">Body of Ad:</label><br>
  <input type="text" name="content" id="content" value="<%= @wanted.content %>">

  <br>

  <input type="submit" value="update">
</form>