<h3><%= @wanted.headline%></h3>
<li><%= @wanted.content %></li>
<li>contact: <%= @user.email %></li>
<% if @viewer.id == @wanted.user_id %>
  <p><a href=/wanteds/<%=@wanted.id%>/edit>edit</a></p>
<% end %>