<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/apartments" method="POST">

  <h4>Describe your apartment below...</h4>
  <br>

  <label><p>Price: $</p></label>
  <input type="text" id="apartment_price" name="apartment[price]">
  <br>

  <label><p>Title of Post: </p></label>
  <input type="text" id="apartment_headline" name="apartment[headline]">
  <br>

  <label><p>Description:</p></label>
  <input type="integer" id="apartment_content" name="apartment[content]">
  <br>

  <input type="submit" value="create apartment listing.">

</form>