<form action="/for_sale" method="POST">

  <h4>Describe your item for sale below...</h4>
  <br>

  <label><p>Price: $</p></label>
  <input type="text" id="sale_price" name="sale[price]">
  <br>

  <label><p>Title of Post: $</p></label>
  <input type="text" id="sale_headline" name="sale[headline]">
  <br>


  <label><p>Description:</p></label>
  <input type="integer" id="sale_content" name="sale[content]">
  <br>

  <input type="submit" value="list your item.">

</form>